<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/load/11/plot" value="false" />
    <add key="/intelcpu/0/load/12/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/3/plot" value="false" />
    <add key="/atigpu/0/temperature/7/plot" value="false" />
    <add key="/atigpu/0/temperature/8/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/fan/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/level/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="/hdd/5/load/0/plot" value="false" />
    <add key="/hdd/6/load/0/plot" value="false" />
    <add key="/hdd/7/load/0/plot" value="false" />
    <add key="/hdd/8/load/0/plot" value="false" />
    <add key="/hdd/9/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1045" />
    <add key="mainForm.Location.Y" value="376" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/factor/0/plot" value="false" />
    <add key="/nvidiagpu/0/expanded" value="false" />
    <add key="/atigpu/0/expanded" value="false" />
    <add key="/hdd/0/level/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/factor/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/hdd/4/load/0/values" value="" />
    <add key="/hdd/5/load/0/values" value="" />
    <add key="/hdd/6/load/0/values" value="" />
    <add key="/ram/data/expanded" value="true" />
    <add key="/hdd/8/load/0/values" value="" />
    <add key="/hdd/9/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEALMXNWnO07jlwcDg5MSxK4mJAQxsnDJWvuaGsfX9YOLWTvYLEWzPFBjb0uljbyKUbeE0B26OhRNnOYxt7/TqJIzt5XQvfzeXN5h94H/bwxxGiLihU0MsTI2B00pjGNvEKTkSIb7+7xEWGHv11vuqZVBzDhw8BzXHw2nyC5h6NydTQRjb0Sn+dSKcbT4ZJu7idLUKxnZyulkAYzs41bIhxPOPIsw5NTUR7i+fPQg1lgIwtqeTyxYY29UpXwGhZi/zURYYGwBV3e/mgAEAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEADvqbNqcp3HLg0FB3UW2NImJAQQa2F3u/0+EsBc8cG5NgYo7nHWW/AEVP3DaWdQUpv60s3oolL3gtLOBH0Lc4ASUnXDC2R1uzl7ntkkwc3Y6c26Dih/Y4WwVAFOzz/nkSZjeu84fPHZzeUMU/S/hyGWEmH/GOXY1zC4XZzN+KJvhi/OvMCj7AauL+heYmbHOpZwwNf3O59Pvq5ZBzVzFf54RynRmfQFzD4/LdguY+T+drx2Dhcln52vHoeIGzC5vBGDu5HRZshjG/ua8jyMJrl7vMJR9gd3lUR7UnA0sLl6PYW7765wMc7+BgMveDVD2B02XvSowNqdLbySUrfDF+UcBzJ2fnQG1gw41yAEAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEANOLMmnO07jlwdCg43LGPJmJAQgYD4S6vLqRCGFv0HTpSEkCsxk+iLlw/oCIMwiIuvDGwMTZXXRDoeyEn84ypVC2AquL60Io24HZxR1mTgCTS+4kqDkM/51ltkHEGYHqZQKg7BvzXW58gKrn2O3ywWM3lzeYc+B/CUcuI1iNgLFLfSxUjUGci6onzA22Ln+coeY4nHMWkU6Gu639EdTeD6oua7feVy2Dmnnq4DmwmQwnmlw4XsDcH++yVxDKFkhwCXkN1dtQ7hLZChXfkOpyqQbmhhaXnVA244Ngl6LPiXC9JTdg5ji5XJ4KFc/ocPF6DHNztIvrS5j4Mpe362Hiei57VWDhXOBS3QBlF0S5/CiAhWe2CwDeswZtyAEAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEANOLMmnO07jl8cT+hcsZ82QmBiBgbPByebbymjiMLROQBBZ/YD7X9cYHCPvk6/+uHzx2c3mDOAwH/pdw5DLC1NfHJsHNUfWEsJ/MN3X944wQn/33CAuMvXbrfdUyqDmnDp4Dm/PEf44rxwuI+mvy5a57BaHmAN0Z8joRzo5sRai5VIOwa2cNwq6izwj17nkQe0Fsr8cI9a4vIWpuft/r+nY9QtxATJ0dxgYAvEJRbSwBAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEANOLMmnO07jlwQAEy5T+yzFAwQeP3VzeYNaB/yUcuYwwcesXr7lh7LVb76uWQdWcOngOriYp4rAyjA0AyHKKUGAAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJNsNGnO07jlwcAg4nTSPJmJAQzYnD7eSISyRZz6UpKgbGmnf3IwNo+TMh+MLeMkWQNjCzoZ+MHYCk6uC2FsYSej7iS4mW2TEuHqObfBxPmcrAJg7BmOJ0/C2DccPnjs5vIGsw/8L+HIZYSIczjltsDU8DuZK8HYuxxfZsHY2k7qX2BsVqdSThib2Wl/333VMqiZu16cg5q5yZH1BcI9OwRhbBanq28T4eacWAkTX+b4Sw/GPuW4Ex4OQk4r9WHsE456h2HsX46P8mDm/HD0eowQT+aHsV0cz3fC2JccV3vD2BcceyMR4j8KYOxHjgDpDP4eyAEAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJNsNGnO07jlwcDwyvGkeTITAxg8cfx4IxHKfuPYl5IEZb9w/CcHYz9wVOaDsd85StYgxA38kuB6XRfC2M8cjbqT4Oa3TYKZ/8iRcxtCr1UAjJ3jePIkjG3g8MFjN5c3mH3gfwlHLiNE/J5jbgvCDeZKMHaT48ssGJvLSf0LjH3LsZQTYdf+vvuqZVAzd704BzXTxZH1BUzNBscdgjD2Iserb2FuXuN4YiVMXMDxlx6MXeC4Ex4OJxxX6sPYHY56h2HsaY6P8mDmzHP0egwTn+KYzA9jBzic74SxMxxXe8PYJY69kTB2m+OPAhi7xREAm6IK7cgBAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJNsNGnO07jlwQAEu3//k2OAgg8eu7m8wawD/0s4chlh4rktSUwQ1gN7cyUYO8DhZRaMvcFB/QuMvcOhlBPGPuGwv+++ahnUzF0vzkHNXGDP+gKm5oD9DkEYm8Hh6ttEOPvESpj4Avtfegg37KyBsQUcVuojzNE7DGMrODzKQ5jj9RihJpkfxm6wP9+JMHO1N0JNbyRC/EcBQhwAnWEu7DgBAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJNsNGnO07jlwcDgYH/SPJmJAQwa7N+vvCYOY1sFJEHFgWpOwtgMDP4Fu7m8wawD/0Uf5jBCRAUccltgah7Ymysh9L7MSoKbP+fvERYYe3/ffdUyqDm7XpyDmmPgwPoCpn6Fww5BGFvG8erbRDj7xEqEml96MPYLh501MLaC40p9GJvDUe8wwpxHeQhzvB7DxD84JPMjzDzfiRBf7Q33l0NvJIx9wOFHAcJeAFLpV+RQAQAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAFuRa9qcp3HLQ0Ptk2NfXRITAxDskPjk2H0mEcyeIfrJsTUFIl4h/slR8gdEXAKoxqbrCAuMbeAHUSMhC2SfgJoDZLtD9f6Q/OTYNikRzv5xByIeAWRrBEDY5w5/cbx5Eqq38oNjkuduLm8Qh+HAf0aOXEYQa9V5BqfCFogajiUMTmb8ELaSM6PTrzAI+8L8v45i0slgdsP1P45tjyD2Mtz647i/775qGdTMXS/Ogc1s7nvjGHLgNTeMvWQxxBzmX28c93FA2abvHI1fQdjN5u8c+xk3CMDYAGgP4blEAQAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAFuRa9qcp3HL44Pyfde+uiQmBiAI0Lzv2n0mEcyeoHXftTUFIn4BKC75AyoOZNt0HWGBsQ38IGomqAPZJ6DmANnuML0a913bJiXC2T/uQMQFgHo1AiBsEYl7rjdPQvWev++a5LmbyxvEYTjwn5EjlxHEqvh8w7WwBaImQeymqxk/hC0x/YbrrzAI+0HPLVcx6WQwm+HuLde2RxB7Ge7cct3fd1+1DGrmrhfnwGbOSHjoGnLgNTeMvWQxxJwZpg9d93FA2dsfuBq/grK3PXDtZ9wgAGMDABdn/1REAQAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAFuRa9qcp3HLQ2GHo2tfXRITAxAkrHV07T6TCGY/WOXo2poCFV/j6Cr5AyoOZNt0HWGBsQ38IGoebACyT0DVb3R0dYfpXefo2jYpEc7+cQeqHmiXRgCEfeO8s+vNk1D1iQ6uSZ67ubxBHIYD/xk5chlBLAFJP9fCFogah8u+rmb8EPaFi36uv8Kg4s+8XMWkk8FsBjcv17ZHEHsZPLxc9/fdVy2DmrnrxTmwmRfsbF1DDrzmhrGXLIaaOcXWdR8HlD3BztX4FZQ9yc61n3GDAIwNABdQ4vVEAQAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAFuRa9qcp3HLg4FBwU3S7J8cAxgouCV57ubyBrMP/GfkyGWEidu+eM0NY+/vu69aBlWz68U5uJqKiMPKMDYAsQEHoWAAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEADvqbNqcp3HLg4HB3Em2NImJAQw0nO7/T4SyFZy4TF9zw9gGJ2BqZJ3cU2BsGaeTM9TY4eyTMHETJ/+C3VzeYPaB/6IPcxhh5seuhqkRcTLjh7ElnH6FwdhiTupfEGpKORHs/X33VcugZu56cQ5qpp4T6wuYGh2n7RYIv1w7lohgH4eJGzi9EYCxtZyWLEao38eBENc7jFD/KA9hjtdjmLieUzLc/WZOezfA2OZOe1UQZraeOsICYwMARITVEXQBAAA=" />
    <add key="/intelcpu/0/expanded" value="true" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAJv93KI5T+OWB0PBFKfNU1OYGEDAtNPpx5V4CNumwEkiKBnCntXrdEILyv45ycnfMAnCLkp3MnVPgLD3tTtpFULFQ3KcWE5BzbxT71TIkAhhP6pzeiINNedGmBOjeRLcXu1VUHPeaDqp+0L1pjY6RRts5/IGcw78v/0/nxHMrNrjtKQAqlew32njWqj5Lq5OF1ih5q8yceIqgLIVvJ0cpaDsb4FOHAdvq5ZBzSxTuMQIc6fVZag5mzidhGdDze8QcPrkDmVbuDs9fgtVc+e/4+ZiqHhks1PaTShb5YvjfSeoGgcZpwc1sDDkddJWgfox5I1juB/Uj02CTu8LoeqtZJ3MdKHqxZSdWDWgZl5jdpIIS4arD+uFmnPmhiMABAsqNsgBAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAPs02bY5T+OWB8MhA6frzSlMDCCQ88JxvmgChL3iniOrbTKEfeCW40RmKHvOA8efpUkQtsEnxxlWUPVb7ji6ukPFb1xzZL6HMJPpRgLcnNduyXA1pU5JcLsqC6FqtO85ZTdA9TrIOO1L28TlDdH8P/1uCSNYWGyv89IwiN6GUzudN2xJhLA7XJzDTkPNbNjteHQG1K4Nmx2FFaDskr2OmUzXVcugZrr9uwYxUyrNpW4RxByB9+tdXl6AmFPAt9flBS+E/eDSVpc7DFB2II/LmRII+0BwkMuSpRC2wv4al7YKiDkbNi53OdgJsTeh7aELLzRsHXY/cLngD/Hjh48PXEQKoeovPXCpuQl1P/cElxnlEPYGxwkuK7wg5hw4+cLZcxY0rN4/dwYAYF3igcgBAAA=" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAPPZbNycp3HLg4GBxcm1IYmJAQyYnFi7YGxmJ6kyGJvRabMEQrznbSKcfWo+Qm9GIEKN00KEuOsmhPi5XoTerl0I8/d7IdRXNSLYjSs3cXmD2Qf+n/1ayggR53KqiIWp4XDaHQVjszvxOMDYbE7ZvMlw8fZHiXD1kWeuqZZBzYxLug42k5FBxamcr1QUxjZ5DDNH2SlQAMIGiU9M7uSEsQEhVhndRAEAAA==" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAPPZbNycp3HLg4GBxcloeRITAxgwOUkkw9jMTlJlMDaj02YJhHjP20Q4+9R8hN7GCoSaVTUI8SPrEeLnehF6u3YhzN/vhVAfdh7BXhq9icsbzD7w/+zXUkaIOJdTegtMDYfTGWMYm92JxwHGZnPK5k2Gi7c/SoSrjzxzTbUMamZc0nWwmYwMKk7lfKWiMLbJY5g5yk6BAhA2SLyhq5MTxgYAiu6eUkQBAAA=" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAPPZbNycp3HLg4GBxcloeRITAxgwOUkkw9jMTlJlMDaj02YJhHjP20Q4e/cxhN4JgQg1q2oQ4kfWI8TP9SL0du1CmL/fC6E+7DyCvTR6E5c3mH3g/9mvpYwQcS6n9BaYGg6nM8YwNrsTjwOMzeYUY5IMF5+2OxGuPvLMNdUyqJlxSdfBZjIyqDiV85WKwtgmj2HmKDsFCkDYIPGGrk5OGBsAJPVPwEQBAAA=" />
    <add key="/atigpu/0/temperature/3/values" value="H4sIAAAAAAAEAPPZbNycp3HLg4GBxcloeRITAxgwOUkkw9jMTlJlMDaj02YJhHiDCIJ9fD5C74RAhPiqGoT4kfUI8XO9iXB21y6E+csKEerzVyDYS6M3cXmD2Qf+r5cpY4SIczm1xsLUcDidMYax2Z14HGBsNqcYk2S4ePujRLj6jKXXVMugZsYlXQebycig4lTOVyoKY5s8hpmj7BQoAGGDxBu6OjlhbAAuIhgVRAEAAA==" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="H4sIAAAAAAAEAPPZbNycp3HLg4GBxcloeRITAxgwOUkkw9jMTlJlMDaj02YJhHiDCIJ9fD5C74RAhPiqGoT4kfUI8XO9iXB21y6E+csKEerzVyDYS6M3cXmD2Qf+r5cpY4SIczm1xsLUcDidMYax2Z14HGBsNqcYk2S4ePujRLj6jKXXVMugZsYlXQebycig4lTOVyoKY5s8hpmj7BQoAGGDxBu6OjlhbAAuIhgVRAEAAA==" />
    <add key="/atigpu/0/temperature/8/values" value="H4sIAAAAAAAEAPPZbNycp3HLg4GBxcloeRITAxgwOUkkw9jMTlJlMDaj02YJhHiDCIJ9fD5C74RAhPiqGoT4kfUI8XO9iXB21y6E+ezlCPV8ixHspdGbuLzB7AP/18uUMULEuZxaY2FqOJzOGMPY7E48DjA2m1OMSTJcvP1RIlx9xtJrqmVQM+OSroPNZGRQcSrnKxWFsU0ew8xRdgoUgLBB4g1dnZwwNgCIvZDbRAEAAA==" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEAPPZbNycp3HLg4GBxcloeRITAxgwOUkkw9jMTlJlMDaj02YJhHiDCIJ9fD5C74RAhLjEQoR4WDdC/FxvIpzdtQthPns5Qj3fYgR7afQmLm8w+8D/9TJljBBxLqfWWJgaDqczxjA2uxOPA4zN5hRjkgwXb3+UCFcfeuaaahnUzELr62AzGRlUnMr5SkVhbJPHMHOUnQIFIGyQeENXJyeMDQCjKF7qRAEAAA==" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEAPPZbNycp3HLo6qS0VHuXBITAxA4O71yWOULYTP8/+YwJwXCjom65NBgD2EXF7502Pw2Ecw+dvSvw/H5EPGtmx87TAiEsHW0fztILISwU5JfO4R1Q9hGRq8czvVC9L55+dKhaxdEfPrUuw7s5VA1Bh8c2E5B2BLi7x3Wmmzi8gY76MD/9TJljCBWWCivY2ssRM2iBTcczhhD2FYWLxx4HCDs/t6nDjEmyWB2Y8MLh/ZHEHvdXe86hJ65ploGNbPQ+jrYzIqyLMd4J4j6JYuzHcXVIeaYm+U5hr2G6F2xLM/R2Rwibmeb63iuEsJmY810/J8GYU+dkuFo4Aph37mV5jj9GIT94H6645WpEHNkpLMdTR5DxHOysx0DBSDsL5+zHc+uh7C9PXMdn/yFqJ84IccxZzlUzac8x2RTGDvLEQCSU+jbyAEAAA==" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="H4sIAAAAAAAEAPPZbNycp3HLg2HCcxe5c0lMDCCw4JnLKl8o2+C+y5wUKLvikctlVyg74alLwvNECFvhucvdk1DxDS9cPPygbIsXLlYLoeyM5y5pMHNePHfZvwWq1+OZy9xdUPGOhy7MAVD2h6cubKegbI0HLqujN3F5gzkH/m/8WsoIZl544dIaC1Uz4aXLGWMo2+O5C48DzMxnLjEmyVC3PXUp44SZ/8wlbek11TKomYXW1yFmdrC5rg6Hqs/gcD0tCAsTdtew11A3Z7C7OpvDzGF3PVcJZR/gcP3ci2AbwsJKhMN16jEoW4LJ9WEe1Jw9bK4mj2HhzOEaKABjs7ueXQ9lq3C4PvkLVW/D6ZqzHOYeDtewGCj7DLsrAL8t68PIAQAA" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEALPgMWnO07jlse77bGf+w0lMDGAQ5px3v4MTxv51Eiou0eSs74dQI+rXCVcjHQARPxMyy/nGB4SaS7ybuLzB7AP/l8iUMYJYO869d85rgahJmzfdeaUxhC3PGuacHInQu/7vERYYu7LummoZ1JwTXdfB5hSU9rvsDUuG2Luq38VUEKK336/fJf51Ipj9bUG/i10rRLxKod/lQw3U/B19LtuhbFuZfpdaNgj7+tM+l/yjEPYOgX6XU1Mh5nC197v47IGI2wHNtBSAmnmk38VlC4RtvLrfJV8Bwv7m1O9S0gBhaxb0u3g2Q8Xv9bkAAANmdCF0AQAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEALPgMWnO07jlwaCxwIX/cBITAwhcaHE54AtlA8XbU6DsD0EuJ2+sF4Cx5+yCigeUukgHQNkM01xufECov8S7icsbzDnwf4lMGSPM/LwWhJqVxgh7kyMRbG3pZLialkeJcPdU1l1TLYOaeaLrOsTMht0uD28cVoaxAbcKitvYAAAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEALPgMWnO07jlYWIcbc9/OImJAQjS08LsD/hC2CDx9hQIe9bMQPsbXn58MPbH3kS4+jm7EHqlAxB6b3xA6L3Eu4nLG8RhOPB/iUwZI0x9XgtEzdkzMfYrjRHmJEci2NrSyXBzWh4lws2vrLumWgY180TXdbCZjAwd9nvDIOoZgGxTQZgbOu3jXydC7eqwt2tFiH+oQbC3w9mN9rVsSVBzGuzzjyLET02F+b3N3mcPzL/t9pYCSXBxly0IM/MVEGpKGhDins0INgDF/ZzZjAEAAA==" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/hdd/7/load/0/values" value="" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAPPZbNycp3HLg4GBwYn3axITAwQ47VaDsX84zkmBsf85XnZFqFFlfcMNY+/fkghXM3cXQi9zAEI92ykY+5fj6uhNXN5g9oH/G7+WMsLU6PMjzExbek21DKqm0Po6VI2A04XJfnwwtiHcPfxOU4/B2DxOD/Ng7hFw+rEEoR4AQW5D1PAAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAJuz27Q5T+OWh51WjZOqdxITAxC82O3l9O5GIpi9W9PDqaYbIn7wlZsTyw+IuNk8NydTU4i4eSdQvAbCTldzdXJQh7D3irg5beVPBrPXs7s5nZCBiHOucXWKewAxRybf1UmyHyKeOdHNSV8Twn61bKrTk5MQ9u9395x0jPdweYM4DAf+W8rlMIJYX2yjnPJaIGryjYKcvPgh7NOKzU7XaiHs6Yv9nMSkIW64cdjXqf0RxN6Li/yd3js+VC2DmjmT7yzYzETRJU6/+CDqnzX0OwnfgbpZJ9epUxmi9wF/nVPaCYh44d9JTtmHIOIlGqVOSxZDxI1OhDsd0Iew57bUOHG+grCjW/KdvrhD1H8KCnfS44LYNc2502nCQYi4w9OdTmuvQ9SH6U1zEreEsHdxNjjpu0LYe540OgkVQthn/zQ7AQC+xApRyAEAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAGtRO9Ocp3HLY+VvRifrtiQmBiAQXM3oZFQMYT+dy+jUvhzC/nGP0WluE4S95j2jU8KsRDC7/wWj0911EPHgp4xOUrUQ9t7njE7zGyHsoJeMTgueQdSbA8VLNSHipkD171ZB2GcuMzoZJkHYX88yO3H1QtgyX5mcCi7yc3mDOAwH/q++JwHR+0TY6U0GRE38I2GnNqi9ZneFnV7qQNgS6cJOulIQNvNDIafr7yHsbReFnMzfm6uWQc18UVQGFl8syujE8BbizmxxRqc1tyHqX25icGqH+ncukP11EkTccBuD09VOCJthN4OTBTeEHbWfwUk7HMKes5fB6VQUNNyA4t/PQdjGWxicfnyBmLlrF4PTDWOI+McdDE7HoOHvDTRzaQ2EnXqQwckPym48xuB0+wjUzJMMTgA+LatWyAEAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC3QPUhCURjGcXNosCFoKaSxwkqtdDBoe6agaIugKZ2kIcRIGmroA6UhAkko8/ZBVJDSdi2CzmkoBwmhIPqQGiOhcilyq8N9zp1+/Hnve+49yx03S1Ou58HomsBAPGS3qUecCvim6VEhkDiii4aAsUhHUgIT6aBl26bAywl7Ji3gnKfDqu8s0MaGwO4b57Oqz3Sy59T81zEd3BfoC9HDhxdwrNJnTQKR20bHkHXY5V/2tcXq7i0TH2HONGdMxPW52W0TFTd9/mTC46SvW/N4qNKTbXkEqoH2mN75Ho1ZPWaXsH3yO5N1Erky5+/8Egn9vzXlnyS71ydxv0IXeiT6G+i0R6J7jJ71ShTH9b2p/luiPWpP7Zs7K+rdRz97qVeioO9/T/WDOXrdLTGiXd8lUb7SO10S/1VqJmjIAQAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAPPvMW7O07jlsW91tKPT8iQmBiDIiHZytM+EsGv69RwfTIOwVXfkO26WgLB5ajQde94mgtmVbs6Op+ZDxK/7ajhmBELYNxbGO4ZVQdg6wQqOhjch7G3KXo7neiF6FXKVHLt2QcRZzCUc93tB2LEMUY5zjSFs66KJjrdtJnN5gzgMB/4HbJjKCGLF8Oc5VsRC1Hi86XbcHQVh6+vnOvI4QNiBV+Uds3mTwex1ZW6O7Y8g9goV6zvOiT2tWgY1U/riI7CZmnMTHONuQ/Tme6g5hn+CqHeVZnBUTICIy8tLOlrGQdgP96s5nquEsJ8uVHD8nwZhr9HicDRwhbC/mcs5LoGGz5YsbsfjeyBmXmsXcDR5DBHv/cXtGPQSIr76jJTjmWsQ8RXsgo5P/kLEe+w5HasbIOIblwk6FvNB2LvFlRwBuxPv9cgBAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAPPvMW7O07jlIZSy2tFpeRITAxBI+Jo62mdC2CImzI4PpkHZXyodN0tA2JveaDv2vE2EsD/rOZ6aDxFnOPDZISMQqmZyuGNYFYSdcvOgg+FNCPu0kb7juV6oXmEGx65dML0HHfZ7QdhH3eUd5xpD2MLVBY63bSZzeUMU/Q/YMJURxJo+a4FjRSxEzb5rLY67oyBsPa1uRx4HqJkPhByzeZPB7IWzehzbH0HsrX0W5Tgn9rRqGdRM6YuPwGa+CtnuGHcbolfBmdkx/FMi3BzFBJi/eBwt46DsNXaO5yqhdikwOP5Pg/p3+S0HA1cIW2wKj+MSaPicnsTmeHwPxMzTRcyOJo+hehuUHINeJsLNOXMNaj6PmOOTvwg3VDdAxN+1/HQo5oOwOdt1HAFvwz6CyAEAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAPPvMW7O07jl8fCQhKPT8iQmBiDo82BztM+EsO+vlXZ8MA3CnnHdxXGzBIT966mSY8/bRDCb4QC/46n5EPFNZ/gdMwIh7IgkC8ewKqi4DoOj4U0IW/KYquO5XojeTT2cjl27IOIMCfKO+70g7MBJ2Y5zjSHsEw3JjqeSJ3N5Qyz7n9g5lRHE4tq43KEiFqKm0TDBcXcUhH32tKEjjwOEXed20CGbNxnMjlPTdGx/BLHXYN8bhzmxp1XLoGZKX3wENvPvmx8Ocbeh7nE45xD+CaL+9KbdDooJEPGU5QcdLOOgahquOJyrhLmfzfF/GoT9aMJzBwNXCPtl+FeHJfNhZm51OL4HYmbKzRUOJo8h4l1zpzoEvYSInzB66HDmGkRcX+qhw5O/sHDud6hugJrDsN6hmA/CfhfxwgEAAzXsg8gBAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAPPvMW7O07jl4RUQ7Oi0PImJAQiUSoUc7TMh7D0vjzs8mAZh1/QqOW6WgLCP8p1z6HmbCGYnLed3PDUfIt6+ldMxIxDCZrERdgyrgrAZGhY5GN6EsM+YCjie64XoPW30y6FrF0RcyniDw34vCDuWl81xrjGEvemzqOOp5Mlc3mCDDvxP7JzKCGLJLuFyrIiFqDnhIOO4OwrCzgmTd+RxgLD91jQ5ZPMmQ9QksDm2P4LYa9RzzmFO7GnVMqiZ0hcfgc1cz3fGIe42RO8L02kO4Z8g6lOW9zsoJsD8EuJgGQdhp9zsdzhXCWF/urnV4X8ahB18LtHBwBXCjvuywmEJNHwYDqxwOL4HYuadtzkOJo8h4por+h2CXiZC2SsczlyDiE97yun45C9EHMhzqG6AiP95eMuhmA9qJsNDBwBVe6iRyAEAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAPPvMW7O07jlIZez1sFpeRITAwg07Hawz4SxFzk8mAZhB9VpO26WgIozrHfoeZsIYS/gcTw1HyJ+etNuh4xAmF5Ox7AqCLvicqWD4U0I2+jMW4dzvVC9DVccunZB1TvMcdjvBWGnSD50mGsMYZdHKzmeSp7M5Q1WdOB/YudURhBrxSwmx4pYiBrh3dqOu6Mg7Np6ZkceB5g7Ex2yeZPB7P1nrzi0P4LYe2LjNIc5sadVy6BmSl98BDZTYj+DY9xtiN6JydUO4Z8g6kV2BzsoJsD81elgGQdha76Y6nCuEsK+05nj8D8Nwl4Soehg4Aphq6Wvd1gCDR/9qGaH43sgZrr52TiYPIaIP3pr5RD0Euq2c5UOZ65Bw2Fmp8OTvxDxlOfrHKobYGHV7FDMh2ADAJLp0tbIAQAA" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAPPvMW7O07jlMcPskaPT8iQmBhB48M3RPhPC7lp7y/HBNAjb7jeD02YJCDvy2gvHnreJYPZG4dOOp+ZDxNe0fHPMCISw39gwO4VVQdg2q546Gt6Ems/w0PFcL0TvFPHzjl27oOIbnjru94KwL1WwOM01hrCrCsWdTiVP5vIGKzrwP7FzKiOI1bb4sWNFLETNLwdep91REPaTHa8ceRwg7I8PGZyyeZPB7PffLjm2P4LYa+RwznFO7GnVMqiZ0hcfgc3kCPvtGHcb5h5Gp/BPiVD2ZkfFBGiY9H5wtIyDsDfveep4rhKqHmjm/zQImzvrmKOBK4Q93eG54xJo+Dx6fMnx+B6ImclrLjqaPIaGJ9BtQS8h4krbzzieuQYRlyhb5fjkL9QNF7Y5VjdAxH90XHYs5oOwd7+77ggAsrWV98gBAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAPPvMW7O07jlIXzlqaPT8iQmBhDY8NTRPhPCzv/1wPHBNAh77zZGp80SEDbP4/OOPW8TweyNj187npoPEa/7ec4xIxDCdu5jcQqrgqpvPuZoeBNqfsBXx3O9EL2Rx245du2CiR923O8FYYeKvnWcawxhr69QcDqVPJnLG6zowP/EzqmMIBarn4xTRSxEjZiOqNPuKAh7muh/Rx4HCJvr1hHHbN5kMPtEwB3H9kcQe1OAfpwTe1q1DGqm9MVHYDM3yLxzjLsNdc+C647hnyDqeYTXOyomQMST0q84WsZB2Hmzzzmeq4SqP3DL8X8ahL177hlHA1cIO2jdQccl0PDpWbbU8fgeiJlpM684mjyGiG+2OeAY9BIifurnEccz16Dmnz7t+OQvRJzhwnnH6gaYXSsci/kg7Juc7x0BAoFd38gBAAA=" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAPPvMW7O07jl4TFppoPT8iQmBiA4wbDewT4TwmZw2OrwYBqELeHL7LhZAsJOiZzj0PM2Ecw+yrfV4dR8iLjRmU6HjEAIe1Mwm2NYFdQchioHw5tQvTcPOpzrhejd46Ps0LULIp6T7+6w3wth71xjCDtJXcbxVPJkLm+wxIH/iZ1TGUEsrYnLHCpioeoTLBx3R0HYokclHXkcIOygN1YO2bzJYLaI7i2H9kcQeycUrXSYE3tatQxqpvTFR2Azqy6edYi7DdFbr2XlEP4Jot7nDYeDYgLUrgYlB8s4CPtadpXDuUoIe4ZVosP/NAhbL0rRwcAVwp7AmOiwBBo+HFcTHI7vgZj5Yqu1g8ljiHgDz0P7oJcQcRH5EIcz16DhyTPB4cnfRKi9uQ7VDbDwaXYo5kOwAcLjO+nIAQAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAPPvMW7O07jlceoYk6PT8iQmBiD47qLvaJ8JYW9aw+P4YBqEnbLAznGzBITNcOCWQ8/bRIgaHg/HU/Mh4qc3vXXICISqb1ByDKuCmmNs6mh4E8KelBLqeK4Xoved2RWHrl0QcY/X6xz2e0HVFys5zjWGsHuW9TieSp7M5Q2x+H9i51RGEGv7pR7HiliIGrvF0x13R0HYVXahjjwOUHcqaDhm8yaD2ScarB3bH0HdrGPkOCf2tGoZ1Ezpi4/AZoYnijrG3Yb50dEx/BNEPYMDs6NiAlT8gbajZRyEfeeNheO5Spi4i+P/NAj7xAMhRwNXWLjxOC6Zjwi343sgZqZI/nIweQz172Qex6CXEPEKESPHM9cg4jqnpzk8+QsRF5Jd7FDdABF/x3LFoZgPwhaTe+gAAJdNrSLIAQAA" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAPPvMW7O07jl4XWO29FpeRITAwg07Hawz4SyGdY7PJgGY4s5bpaAsascet4mQtn6DqfmJ8HZGYEwcxY5hFUh1BvehIl3OpzrhelNdOjaBRHvmuvusN8LpkbJca4xjB3ieCp5Mpc3mHPgf2LnVEYQy6B/rUNFLEL97iiEvTwOEPa0VH2HbN5kMHvuDTeH9kcwe0/Yz4k9rVoGNVP64iOwmcwL9jjE3Ya5+Zd9+CeYeg97xQSY+Ak7y7gkuPvPVcLF7f+nIdgGrogwWYIUPsf3wMyc5mDyOAluftBLhPiZa3Bxhyd/E+HuqW5AxFExH8JMAPD/h87IAQAA" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEAPPvMW7O07jlUb6B39FpeRITAxgkOthnQtgJnB4OD6ZB2CGMXI6bJSDsyGnVDj1vE8FsEesEh1PzIeJtickOGYEQtpXSIoewKgj7WraYg+FNCNvHb4/Dud5EqPoah65dSVBz3B32e0HYTiudHOcaQ82USXQ8lTyZyxvstgP/EzunMoJYk+6yOFbEwtys77g7CsJersfvyOMAYedc/GWfzZsMZjOZGzi0P4LZ6+WwouW0ahnUTP5Vj8BmivfwO8bdhujVOZ3oEP4pEWr+CXvFBJhd0+wt42Bqftmfq4SJizn8T4P6feNRewNXCPvVMj2HJdDw+SjZ5XB8TyI0bMUcTB5DxGfNOWkf9BIifiy9xuHMNYj4ve9/7Z/8hYg7sE2zr26AiM/Z1elQzAdhGzDVOAAAO4/mAcgBAAA=" />
    <add key="/intelcpu/0/load/11/values" value="H4sIAAAAAAAEAPPvMW7O07jlsXSSsKPT8iQmBjBY72CfCWG/cbnv8GAahL1K4a3DZgkIO3KagUPP20Qw++759Q6n5kPEHdj0HTICoeY4yDiGVSHMNLwJYU972ulwrjcRzu7aBVOT6LDfC8JWS5/mMNcYwvZ7Y+V4KnkylzdYzYH/iZ1TGUGsqdc3OFTEQvU2WDvujoKwS1r0HXkcIGwR63UO2bzJYDbr1XUO7Y8g9i5LSXZY0XJatQxqJv+qR2AzF22Ud4y7DXVn6nqH8E8Q9V1z9RwUEyDibYleDpZxsHDwdDhXCXNDp8P/NAi7gcfD3sAV5n4X+yXQ8NmWoe9wfA/ETJ3TJ+xNHsP87mEf9BLmNi+HM9cg4h6Tah2e/IWIyxyvcahugIirl01xKOaDsDfpnLYDAEqT8jXIAQAA" />
    <add key="/intelcpu/0/load/12/values" value="H4sIAAAAAAAEAPPvMW7O07jlIfeG3dFpeRITAxBcaL/iYJ8JYZcGdzo8mAZhf8t76LBZAsKOnPbbvudtIph99Jye46n5EPHDBuIOGYEQ9r7ohQ5hVRD2lLBFDoY3IWyVkycdzvVC9E572unQtQsiztDQ6bDfC8L+XcfkONcYKu7Q7HgqeTKXN5hz4H9i51RGEEtjfahjRSxML6fj7igIO7BfxpHHAcL++zDeIZs3Gcx2YFvv0P4IYu+2jGkOK1pOq5ZBzeRf9Qhs5uEeG8e421AzGU7Yh39KhLIZGBQTIOKz5vy2t4yDsNWedzqcq4SwXy1zd/ifBmEnqX+zN3CFsJtmn3BYAg2fa9n6Dsf3JELDarqDyWOIuOqNdQ5BLyHil/RrHc5cQ7jhyd9EOLu6ASKuXibiUMwHYeucnmYPADHE2pTIAQAA" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
    <add key="/intelcpu/0/clock/9/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEALPgMWnO07jlwQAEuzmspBigQDogiQnKcrrxAcZmYLjEu4nLG8w68H+JTBkjTFyT/w03jF1Zd021DKrmRNd1qJoTjnvDkqHmyDiaCsLMfOQY/zoRyu5wsGuFibs5faiBsU84bYez3Z1q2WBsdqf8owi3+SepscPYLltg4g/s8xVgbFWnkgYY29zJsxlhPgBeOCyoCAEAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAGtRO9Ocp3HLI7XktKN1WxITAxDYfjvlaFQMYS94eMqxfTmEXe1+2nFuE4Q9P/G0Y8KsRDC7Luy04911EPG8wNOOUrUQtmnoacf5jRD2hvDTjgueQdSnhJx2LNWE2gVU/24VhP3X9LSjYRKE7eR3zpGrF8K+8uuMY8FFfi5vEIfhwP/V9yTA4n41zx3fZEDU5Fc+d2yD2htd+NzxpQ6EXbXjmaOuFIQ969lTx+vvIexV5546mr83Vy2DmvmiqAwsHsFzypHhLcSdivynHNfchqi/VHjSsR3q3ygg++skiPjnspOOVzuhdtWddLTghrA9W086aodD2BObTjqeioKwTwPFv5+DsK8Xn3T88QViJg9Q7w1jiLhz9UnHY9Dw/wgUX1oDDf+Ok45+UHbNhJOOt49A2IVTTzoCAEBXEEjIAQAA" />
    <add key="/intelcpu/0/clock/10/values" value="" />
    <add key="/intelcpu/0/clock/11/values" value="" />
    <add key="/intelcpu/0/clock/12/values" value="" />
  </appSettings>
</configuration>